<div class="px-lg-5 py-lg-4 p-4">
    <h1 class="font-weight-bold mb-4">Recupera tu cuenta</h1>
    <h4 [style.display]="isVisible ? 'block' : 'none'" class="font-weight-bold mb-4">Ingresa tu correo electrónico para que te enviemos un mensaje para restaurar tu contraseña.</h4>
    <form class="mb-5">
      <div class="mb-4">
        <input type="text" [(ngModel)]="EmailInput" [ngModelOptions]="{standalone: true}" class="form-control bg-dark-x border-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      @if (emailSend) {
        <div  class="mb-4">
            <h4>Comprueba si recibiste un correo electrónico con tu código de 6 dígitos.</h4>
            <input type="text"[(ngModel)]="securityInput" [ngModelOptions]="{standalone: true}" class="form-control bg-dark-x border-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insertar codigo">
          </div>
      }
      @if (securitySend) {
            <div class="mb-4">
                <h4>Inserte su nueva contraseña</h4>
                <input type="text" [(ngModel)]="passwordInput" [ngModelOptions]="{standalone: true}" class="form-control bg-dark-x border-0 mb-2" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
          }
      <button type="submit"  (click)="sendData()" class="btn btn-warning w-100">Buscar</button>
    </form>
  </div>