@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Sixtyfour&display=swap');

.body{
    font-family: 'League Spartan', sans-serif !important;
    font-weight: 300;
    color: var(--light);
    background-image: url('../../../assets/fondo/fondo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
}

.logo{
    font-family: 'Sixtyfour', sans-serif;
    }

.bg-dark-x{
    background-color: var(--dark-x);
}

input{
    color: #fff;
}

input::placeholder{
    color: #fff;
}

.form-control, .btn{
    color: #fff;
    min-height: 3.125rem;
    line-height: initial;
}

.margin{
    margin-bottom: 25%;
}

@media (max-width: 768px) {
    .body {
        background-image: url('../../../assets/fondo/fondo_movil.png');
        background-size: cover;
        overflow: hidden;
    }
  }