<section class="body">
  <div class="row g-0">
    <div class="col-lg-7"></div>
    <div class="col-lg-5 d flex flex-column aling-items-end min-vh-100">
      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 margin">
        <h4 class="logo text-white">
          <a routerLink="/login" class="nav-link">BoxingDanga</a>
        </h4>
      </div>
      <section>
        <div class="px-lg-5 py-lg-4 p-4">
          <div>
            <h1 class="font-weigt-bold mb-4">Recupera tu cuenta</h1>
            <h4 class="font-weight-bold mb-4">
              Ingresa tu correo electrónico para que te enviemos un mensaje para
              restaurar tu contraseña.
            </h4>
          </div>
          <div>
            <form class="mb-5">
              <div class="mb-4">
                @if(EmailSend){
                <h4 class="font-weight-bold mb-4 text-warning">
                  Ingrese un Email
                </h4>
                }
                <input
                  type="text"
                  [(ngModel)]="EmailInput"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control bg-dark-x border-0"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="Email"
                />
              </div>
              @if (EmailInput == '' || EmailInput == 'Email') {
              <div>
                <button
                  type="submit"
                  (click)="sendData()"
                  class="btn btn-warning w-100"
                >
                  Buscar
                </button>
              </div>
              } @else {
              <div>
                <button
                  type="submit"
                  routerLink="/recovery-password"
                  (click)="sendData()"
                  class="btn btn-warning w-100"
                >
                  Buscar
                </button>
              </div>
              }
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
