<section>
    <div class="row g-0">
      <div class="col-lg-7"></div>
      <div class="col-lg-5 d flex flex-column aling-items-end min-vh-100">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 margin">
          <h4 class="logo text-white">
            <a routerLink="/login" class="nav-link">BoxingDanga</a>
          </h4>
        </div>
<section>
    <div class="px-lg-5 py-lg-4 p-4">
        <div>
            <h1 class="font-weight-bold mb-4">
                Recupera tu cuenta
            </h1>
            <h4 class="font-weight-bold mb-4">Comprueba si recibiste un correo electrónico con tu código de 6 dígitos.</h4>
        </div>
        <div class="mb-4">
            @if(PasswordInput.length < 6 && PasswordSend){
                <h4 class=" font-weight-bold mb-4 text-warning">Ingrese una contraseña de 6 dígitos.</h4>
              }
            <input type="text" [(ngModel)]="PasswordInput"
            [ngModelOptions]="{ standalone: true }" class="form-control bg-dark-x border-0 mb-2" autocomplete="digits" placeholder="Contraseña">
        </div>
        @if (PasswordInput.length >= 6) {
            <div>
                <button type="submit" routerLink="/new-password" (click)="sendData()" class="btn btn-warning w-100">Buscar</button>
            </div>
        }
        @else {
            <div>
                <button type="submit" (click)="sendData()" class="btn btn-warning w-100">Buscar</button>
            </div>
        }
    </div>
</section>
</div>
</div>
</section>