<section>
    <div class="px-lg-5 py-lg-4 p-4">
        <div>
            <h1 class="font-weight-bold mb-4">
                Recupera tu cuenta
            </h1>
            <h4 class="font-weight-bold mb-4">Comprueba si recibiste un correo electrónico con tu código de 6 dígitos.</h4>
        </div>
        <div class="mb-4">
            <input type="text" [(ngModel)]="PasswordInput"
            [ngModelOptions]="{ standalone: true }" class="form-control bg-dark-x border-0 mb-2" id="exammpleInputPassword1" placeholder="Contraseña">
        </div>
        <div>
            <button type="submit" routerLink="/new-password" (click)="sendData()" class="btn btn-warning w-100">Buscar</button>
        </div>
    </div>
</section>