.bg-dark-x{
    background-color: var(--dark-x);
}

input{
    color: #fff;
}

input::placeholder{
    color: #fff;
}

#exampledateInput{
    color: #fff;
}
.form-control, .btn{
    color: #fff;
    min-height: 3.125rem;
    line-height: initial;
}




section{
    position: relative;
    bottom: 12%;
}

.margin{
    margin-bottom: 25%;
}
