<!--Navbar-->
<app-navbar></app-navbar>
<!--Home-->
<section>
  <div class="container" id="topNotice">
    <div class="row">
      <div class="col-md-8 offset-md-2 bg-white">
        <div class="noticia py-5 my-5">
          <h1>Dieta ideal para un boxeador</h1>
          <p class="lead">
            La correcta alimentación y nutrición es vital para los deportistas,
            descubre la dieta ideal para un boxeador.
          </p>
          <img
            src="../../../assets/diet/Boxers_Diet-min_1024x1024.webp"
            class="img-fluid mb-3"
            alt="Imagen de la noticia"
          />
          <p>
            La nutrición, es responsable del buen o mal rendimiento de un
            boxeador, pues los deportes de contacto, exigen gran resistencia.
          </p>
          <p>
            La dieta ideal para un boxeador es muy variada, nada extraordinario,
            pero sí con un orden riguroso y estricto.
          </p>
          <p>
            Se deben incluir todos los grupos de alimentos para crear la dieta
            ideal equilibrada.
          </p>
          <p>
            ¿Quieres ser un boxeador? ¿Ya te iniciaste en la vida del boxeo?
          </p>
          <p>
            Te contaremos qué comer, en qué momento, con cuánta frecuencia, y en
            qué cantidades, para mejorar tu rendimiento físico y hasta mental.
          </p>
          <h4>Descubre la dieta ideal</h4>
          <ul>
            <li>Verduras y hortalizas.</li>
            <li>Pan y pastas integrales, cereales.</li>
            <li>Leche y derivados.</li>
            <li>Tubérculos, legumbres y frutos secos.</li>
            <li>Grasas, aceites y mantequilla.</li>
          </ul>
          <h4>Formula perfecta de la dieta ideal</h4>
          <p>
            Es secreto de esta fórmula está en la simpleza: comer de forma
            nutritiva, equilibrada, suficiente, y mezclando los diferentes
            grupos de alimentos.
          </p>
          <h4>¿Cuándo comer?</h4>
          <img
            src="../../../assets/diet/sad-skinny-male-boxer-wears-hat-boxing-groves-around-neck-holds-pile-donuts-bottle-milk.jpg"
            class="img-fluid mb-3"
            alt="Imagen de la noticia"
          />
          <p>
            Por las mañanas se requiere glucosa para alimentar al cerebro, dar
            energía a todo el cuerpo, y acabar con el ayuno, principalmente con
            carbohidratos y vitaminas.
          </p>
          <p>
            La segunda comida durante el día es el almuerzo, cerca del mediodía,
            es para aportar parte importante de las proteínas que se ocuparan
            durante el día. Éstas deben ser de al menos dos gramos de proteína
            por kilo de peso.
          </p>
          <p>
            La comida es la tercera ingesta de alimentos durante el día. La cual
            se debe comenzar siempre con una ensalada, para aportar las enzimas
            necesarias para que el cuerpo absorba los nutrientes de los
            alimentos con proteínas.
          </p>
          <p>
            Luego de haber entrenado dos o tres horas, llegó el momento de
            cenar, la cena es a cuarta y última comida del día. Ésta debe ser
            ligera, especialmente porque ya no se realizará ninguna actividad
            física, y esa energía se convertirá en tejido adiposo, por no
            haberse usado.
          </p>
          <h4>¿Cuándo comer?</h4>
          <ul>
            <li>Desayuno 7:00 u 8:00 horas.</li>
            <li>Almuerzo 11:00 o 12:00 horas.</li>
            <li>Comida 14:00 o 15:00 horas.</li>
            <li>Cena 20:00 o 21:00 horas.</li>
          </ul>
          <h4>Ejemplo de una dieta ideal</h4>

          <h5>Desayuno</h5>
          <p>Puedes iniciar el día con jugos o licuados, puedes elegir la combinación que más te guste, dulces o agrios. Incluye naranja, zanahoria, betabel, apio, piña, entre otras.</p>
          <p>Así como consumir cereales como avena con frutos secos como pasas, y abundantes plátanos.</p>
          <p>La clave está en comer mucha fruta en la mañana, que sea un desayuno abundante. Manzanas pera, guayabas, pera, melón, granola, y miel natural.</p>
          <h5>Almuerzo</h5>
          <p>Si para esa hora ya no estás en casa, lleva contigo sándwiches o tortas saludables, hechas por ti. Que los panes sean integrales, con lechuga, jitomate, aguacate, queso y pavo o atún o huevo.</p>
          <p>El inicio del día es el mejor momento para ingerir carbohidratos, por la tarde y noche ya no. Crea tus propias combinaciones de alimentos con carbohidratos.</p>
          <h5>Comida</h5>
          <p>Antes de la comida, siempre una ensalada. Puede ser de alguna lechuga y hortaliza.</p>
          <p>Ejemplo: lechuga orejona, jitomate, cebolla, aguacate, betabel, zanahoria, limón y sal o aceite de oliva. Los aceites son importantes para tener testosterona, estamina, fuerza, energía y vitaminas.</p>
          <p>Sopas o cremas: de vegetales frescos.</p>
          <p>Ración de carne de pollo, pescado, carne de res o de cerdo.</p>
          <h5>Cena</h5>
          <p>Después de 2-3 horas de entrenar, viene una cena ligera. Evita comer pan de dulce, harinas refinadas, papas, refrescos, ni cualquier otro tipo de alimento basura, en ningún momento del día, y especialmente por las noches.</p>
          <p>Yogurt, pan tostado integral, una pequeña cantidad de legumbres o semillas. Y un vaso de agua con el jugo de un limón antes de ir a dormir.</p>
          <p>Tip: el vaso con agua con jugo de un limón, se puede tomar al ir a dormir, o al despertar antes de desayunar; en ambos casos ayuda a mantener alcalino el cuerpo.</p>
          <h5>Opcional: comer colaciones entre comidas</h5>
          <p>Lo mejor es que evites comer entre comidas, resérvate para ingerir solo alimentos nutritivos, nada de comida chatarra empaquetada. Pero si no te puedes resistir a comer entre comidas, puedes recurrir a colaciones saludables como:</p>
          <ul>
            <li>Frutas</li>
            <li>Granos no salados</li>
            <li>Semillas</li>
            <li>Frutos secos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--footer-->
<app-footer></app-footer>
