<section>
  <div class="row g-0">
    <div class="col-lg-7"></div>
    <div class="col-lg-5 d flex flex-column aling-items-end min-vh-100">
      <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 margin">
        <h4 class="logo text-white">
          <a routerLink="/login" class="nav-link">BoxingDanga</a>
        </h4>
      </div>
<section>
  <div class="px-lg-5 py-lg-4 p-4">
    <div>
      <h1 class="font-weigt-bold mb-4">Recupera tu cuenta</h1>
      <h4 class="font-weight-bold mb-4">Ingresa tu nueva contraseña.</h4>
    </div>
    @if (PasswordInput != secondPasswordInput) {
    <div>
      <h4 class="font-weight-bold mb-4 text-warning">
        Las contraseñas no coinciden.
      </h4>
    </div>
    }
    <div class="mb-4">
      @if(PasswordSend){
      <h4 class="font-weight-bold mb-4 text-warning">Ingrese una Contraseña</h4>
      }
      <input
        type="text"
        [(ngModel)]="PasswordInput"
        [ngModelOptions]="{ standalone: true }"
        class="form-control bg-dark-x border-0 mb-2"
        id="exammpleInputPassword1"
        placeholder="Contraseña"
      />
    </div>
    <div class="mb-4">
      @if(secondPasswordSend){
      <h4 class="font-weight-bold mb-4 text-warning">Ingrese una Contraseña</h4>
      }
      <input
        type="text"
        [(ngModel)]="secondPasswordInput"
        [ngModelOptions]="{ standalone: true }"
        class="form-control bg-dark-x border-0 mb-2"
        id="exammpleInputPassword1"
        placeholder="Vuelva a ingresar la contraseña"
      />
    </div>
    <div>
      @if(PasswordInput === secondPasswordInput && PasswordSend && data.password
      != ""){
      <button
        type="submit"
        routerLink="/login"
        (click)="sendData()"
        class="btn btn-warning w-100"
      >
        Buscar
      </button>
      } @else {
      <button type="submit" (click)="sendData()" class="btn btn-warning w-100">
        Buscar
      </button>
      }
    </div>
  </div>
</section>
</div>
</div>
</section>
