<section>
  <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
    <div>
      <h1 class="font-weight-bold mb-4">Bienvenido de vuelta</h1>
    </div>
    <div>
      <form class="mb-5">
        <div class="mb-4">
          @if(EmailSend){
            <h4 class="font-weight-bold mb-4 text-warning">Ingrese un Email</h4>
          }
          <input
            type="text"
            [(ngModel)]="EmailInput"
            [ngModelOptions]="{ standalone: true }"
            class="form-control bg-dark-x border-0"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email"
          />
        </div>
        <div class="mb-4">
          @if(PasswordSend){
            <h4 class=" font-weight-bold mb-4 text-warning">Ingrese una Contraseña</h4>
          }
          <input
            type="password"
            [(ngModel)]="PasswordInput"
            [ngModelOptions]="{ standalone: true }"
            class="form-control bg-dark-x border-0 mb-2"
            id="exammpleInputPassword1"
            placeholder="Contraseña"
          />
          <a
            routerLink="/forgot-password"
            id="emailHelp"
            class="nav-link form-text text-white text-decoration-none"
            >¿Has olvidado tu contraseña?</a
          >
        </div>
        <div>
          <button
            type="submit"
            (click)="sendData()"
            class="btn btn-warning w-100"
          >
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
    <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mt-auto">
      <p class="d-inline-block mb-0">¿Todavía no tienes una cuenta?</p>
      <a
        routerLink="/create-account"
        class="nav-link text-light font-weight-bold text-decoration-none"
        >Crea una ahora
      </a>
    </div>
  </div>
</section>
