section{
    background-image: url('../../../assets/fondo/section.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.form-control,
.btn {
  color: #fff;
  min-height: 3.125rem;
  line-height: initial;
}

.input{
  width: 50%!important;
}
