<!--Navbar-->
<app-navbar></app-navbar>
<!--Home-->
<section class="bg text-white p-5" id="topNotice">
  <div class="container">
    <div class="row g-5">
      <div class="col-12 text-center">
        <h2 class="text-white text-uppercase p-5">Pesaje</h2>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-2">
          <input
            type="number"
            [(ngModel)]="weightInput"
            [ngModelOptions]="{ standalone: true }"
            class="input form-control bg-dark border-0"
            id="WeightInput"
            placeholder="Ingresa tu peso"
          />
        </div>
      </div>
      <div class="input-group-append">
        <button
          class="btn btn-warning w-25"
          (click)="sendData()"
          type="button"
          id="icon-click"
        >
          Enviar
        </button>
      </div>
    </div>
    @if(dataWasSend) {
    <div class="col-md-6">
      <div class="mb-3 py-lg-5">
        <p>Tu peso es de {{ weightInput }}kg</p>
        <p>Tu categoria es {{boxerWeight}} </p>
      </div>
    </div>
    <div class="col-12 text-center">
      <h2 class="text-white text-uppercase p-5">
        Boxeadores que comparten tu peso
      </h2>
    </div>
    <!--cards-->
    <app-cards [categorySelected]="championCategorySelected"></app-cards>
    }
  </div>
</section>
<!--footer-->
<app-footer></app-footer>

<!-- <select
   class="form-select bg-dark border-0"
   (change)="onCategoryChange()"
   [(ngModel)]="category"
   [ngModelOptions]="{ standalone: true }"
   aria-label="Default select example"
 >
   @for (category of categories; track categories) {
   <option
     value="{{ category.category }}"
     class="form-control bg-dark border-0"
   >
     {{ category.name }}
   </option>
   }
 </select>-->
<!--cards-->
<!--<app-cards [categorySelected]="championCategorySelected"></app-cards>-->
