<!--Navbar-->
<app-navbar></app-navbar>
<!--Home-->
<section>
<div class="container" id="topNotice">
    <div class="row">
      <div class="col-md-8 offset-md-2  bg-white">
        <div class="noticia py-5 my-5">
          <h1>Golpes de boxeo</h1>
          <p class="lead">Los golpes clásicos del boxeo están dentro de la llamada Técnica del boxeo, tenemos la necesidad de aplicar un nombre a cada golpe para diferenciarlos entre si, al ser claramente distintas las trayectorias y la forma de ejecución de cada uno de ellos.</p>
          <img src="../../../assets/techniques/medium-shot-young-boy-boxing.jpg" class="img-fluid mb-3" alt="Imagen de la noticia">
          <p>Esta necesidad de denominación concreta viene dada por la repetición durante las acciones técnicas de golpes muy similares, que sin ser exactamente iguales cumplen unas normas en su ejecución o en su trayectoria que nos hace identificarlos de forma clara con un nombre para cada uno de ellos.</p>
          <h4>Por su trayectoria:</h4>
          <p>– RECTOS: (Directo, jab) Ambos son iguales en su trayectoria y ejecución. Solamente se diferencian en su aplicación y fuerza final.</p>
          <p>– CURVOS: – Lateral (Crochet)</p>
          <p>– (Hook)</p>
          <p>– MIXTOS: -Golpe lateral largo con puño rotado (Swing)</p>
          <h4>GOLPES CONCRETOS:</h4>
          <p>Por lo tanto en nuestra terminología del boxeo utilizamos unos golpes concretos que siendo muy parecidos algunos de ellos difieren por su trayectoria, por su ejecución o por su aplicación , son:</p>
          <p>– JAB : se utiliza para: mantener la distancia, para iniciar una combinación, como golpe de engaño para otra acción posterior, para “preocupar” al rival… Es en definitiva un directo poco “acentuado”. De menor fuerza de impacto y normalmente de izquierda en púgiles de guardia diestra u ortodoxa.</p>
          <p>– DIRECTO : de izquierda (siempre a la inversa en zurdos) es un golpe más contundente que el Jab, el púgil que lo ejecuta tiene que estar bien apoyado en el suelo y con mayor impulso de la cadera, del hombro y del giro del cuerpo.
            Se utiliza para frenar al rival que “entra”, para desestabilizarle, paragolpear con dureza. Muchos Técnicos, boxeadores y aficionados confundenambos. Sin embargo en inglés diferencian perfectamente (los que realmente saben) un “jab” de un “straigth-left”.</p>
        <p>– CROCHET : es un golpe lateral con trayectoria paralela al suelo que se dirige al rostro del rival.</p>
        <p>– UPPERCUT o GANCHO : es un golpe que se dirige de abajo arriba buscando el mentón del adversario.</p>
        <p>– HOOK o “golpe de puñalada” como dicen los cubanos. Puede considerarse como un golpe que siendo similar en su ejecución a uppercut que tiene su aplicación al mentón, es una variente de éste aplicado al cuerpo. Puede ser aplicado también al mentón con una trayectoria ascendente oblicua.</p>
        <p>– – SWING : es un crochet largo en el que se gira el puño para impactar con la zona de los nudillos.</p>
        <p>Los boxeadores diestros se colocan con el pie y el guante izquierdo más cerca de su rival. Los que lo hacen con el pie derecho son zurdos o de guardia invertida. Ciertos boxeadores dominan ambas formas.</p>
        <img src="../../../assets/carrousel/2.jpg" class="img-fluid mb-3" alt="Imagen de la noticia">
        <p>A continuación les mostramos un video en donde se explica como se ejecutan los golpes básicos del boxeo.</p>
        <div class="video-container embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D8DouKeOkfI" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--footer-->
<app-footer></app-footer>