<!--Navbar-->
<app-navbar></app-navbar>
<!--page-->
<section class="bg text-white p-5" id="topNotice">
  <div class="container">
    <div class="row g-5">
      <div class="col-12 text-center">
        <h2 class="text-white text-uppercase p-5">Campeones</h2>
      </div>
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso pesado o completo</h2>
      </div>
      <!--cards-->
      @for(champion of heavyweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso crucero o pesado júnior</h2>
      </div>
      @for(champion of cruiserweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso mediopesado o semipesado</h2>
      </div>
      @for(champion of lightheavyweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso supermediano o supermedio</h2>
      </div>
      @for(champion of superMiddleweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso mediano o medio</h2>
      </div>
      @for(champion of mediumweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso superwélter o mediano júnior</h2>
      </div>
      @for(champion of juniorMiddleweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso wélter</h2>
      </div>
      @for(champion of welterweightChanmpions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso superligero o wélter júnior</h2>
      </div>
      @for(champion of juniorWelterweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso ligero</h2>
      </div>
      @for(champion of lightWeightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso superpluma o ligero júnior</h2>
      </div>
      @for(champion of juniorSuperFeatherweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso pluma</h2>
      </div>
      @for(champion of featherweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso supergallo o pluma junior</h2>
      </div>
      @for(champion of juniorSuperBantamweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso gallo</h2>
      </div>
      @for(champion of BantamweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso supermosca o gallo júnior</h2>
      </div>
      @for(champion of juniorBantamweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
      <div class="col-12">
        <h2 class="text-white text-uppercase">Peso mosca</h2>
      </div>
      @for(champion of flyweightChampions; track champion.name){
      <div class="flip-box col-md-6 col-lg-3">
        <div
          class="card flip-box-front text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        ></div>
        <div
          class="card flip-box-back text-center"
          [style.background-image]="'url(' + champion.img + ')'"
        >
          <div class="overlay"></div>
          <div class="inner-back text-white">
            <h4>{{ champion.name }}</h4>
            <p>Edad: {{ champion.age }} años</p>
            <p>Altura: {{ champion.height }} m</p>
            <p>Titulos: {{ champion.title }}</p>
            <p>Victorias: {{ champion.victory }}</p>
            <p>Knockouts: {{ champion.knockout }}</p>
            <p>Derrotas: {{ champion.defeat }}</p>
            <p>Empates: {{ champion.draw }}</p>
            <div class="d-flex justify-content-between">
              <button class="flip-box-button flex-grow-1 me-2 btn-sm">
                <a
                  href="{{ champion.wiki }}"
                  class="text-decoration-none text-warning"
                  >Leer mas</a
                >
              </button>
              <button class="flip-box-button flex-grow-1 ms-2 btn-sm">
                <a
                  href="{{ champion.boxrec }}"
                  class="text-decoration-none text-warning"
                  >Boxrec</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
<!--footer-->
<app-footer></app-footer>
