<!--Navbar-->
<app-navbar></app-navbar>
<!--page-->
<section>
  <div class="container">
    <div class="row">
      <div class="box-item col-md-4 py-5 my-5">
        <div class="flip-box">
          <div
            class="flip-box-front text-center"
            style="
              background-image: url('../../../assets/champions/tyson-fury.jpg');
            "
          >
            <div class="inner text-white">
              <h3 class="flip-box-header">Tyson Fury</h3>
              <p>Gypsy King</p>
            </div>
          </div>
          <div
            class="flip-box-back text-center"
            style="
              background-image: url('../../../assets/champions/tyson-fury.jpg');
            "
          >
            <div class="inner-back text-white">
              <h4>Tyson Luke Fury</h4>
              <p>Edad: 35 años</p>
              <p>Altura: 2,02 m</p>
              <p>Victorias: 34</p>
              <p>Knockouts: 24</p>
              <p>Derrotas: 0</p>
              <p>Empates: 1</p>
              <div class="d-flex justify-content-between">
                <button class="flip-box-button flex-grow-1 me-2  btn-sm">Leer mas</button>
                <button class="flip-box-button flex-grow-1 ms-2  btn-sm">Boxrec</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--footer-->
<app-footer></app-footer>
