/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/

section{
  background-image: url('../../../assets/fondo/section.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.form-control,
.form-select,
.btn {
  color: #fff;
  min-height: 3.125rem;
  line-height: initial;
}
