<!--Navbar-->
<app-navbar></app-navbar>
<!--page-->
<section class="bg text-white p-5" id="topNotice">
  <div class="container">
    <div class="row g-5">
      <div class="col-12 text-center">
        <h2 class="text-white text-uppercase p-5">Campeones</h2>
      </div>
      <div class="col-12">
        <select
          class="form-select bg-dark border-0"
          (change)="onCategoryChange()"
          [(ngModel)]="category"
          [ngModelOptions]="{ standalone: true }"
          aria-label="Default select example"
        >
          @for (category of categories; track categories) {
          <option
            value="{{ category.category }}"
            class="form-control bg-dark border-0"
          >
            {{ category.category }}
          </option>
          }
        </select>
      </div>
      <!--Title-->
      <div class="col-12">
        <h2></h2>
      </div>
      <app-cards [categorySelected]="championCategorySelected"></app-cards>
    </div>
  </div>
</section>
<!--footer-->
<app-footer></app-footer>
